Repository libass/libass, pull requests merged in 2024-05, with the labels that each got.

#757 drawing: implement EXTEND_SPLINE
  libass/ass_drawing.c
  libass/ass_drawing.h
Labels: compatibility, drawing

#678 fontselect: overhaul font scoring and faux-ing
  libass/ass_font.c
  libass/ass_font.h
  libass/ass_fontconfig.c
  libass/ass_fontselect.c
  libass/ass_fontselect.h
Labels: compatibility, fonts

#760 Match VSFilter’s faux italics on PostScript-outline fonts, too
  libass/ass_font.c
  libass/ass_font.h
  libass/ass_fontselect.c
Labels: compatibility, fonts

#765 readme: move related projects into wiki; update VSFMod status
  README.md
Labels: cosmetic
